@import "tailwindcss";

@theme {
  --color-smart-blue-500: #0466c8;
  --color-smart-blue-600: #0f85fa;
  --color-smart-blue-700: #4ba3fb;
  --color-smart-blue-800: #87c2fd;
  --color-sapphire-500: #0353a4;
  --color-regal-navy-500: #023e7d;
  --color-prussian-blue-light: #002855;
  --color-prussian-blue: #001845;
  --color-prussian-blue-dark: #001233;
  --color-twilight-indigo-500: #33415c;
  --color-blue-slate-500: #5c677d;
  --color-slate-grey-500: #7d8597;
  --color-lavender-grey-700: #c0c4cd;
  --color-lavender-grey-800: #d5d7dd;
  --color-lavender-grey-900: #eaebee;
}
